<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Size Calculator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.css" type="text/css" />
	<link rel="stylesheet" href="custom.css" type="text/css" />

	<body ng-app="size-calculator" ng-controller="mainCtrl">

		<header>
			<nav class="pink accent-1 white-text">
				<div class="nav-wrapper container">
					<a href="/" class="brand-logo brand-logo-small">Size Calculator </a>
					<meta itemprop="url" content="http://gaggle.email/">
					<meta itemprop="name" content="Gaggle Mail">

					<ul class="right hide-on-med-and-down">
						<li><a href="/about">About us</a></li>
					</ul>
				</div>
			</nav>
		</header>



		<div class="container">
			<div class="section">
				<div class="row center">
					<div class="col s12 l6">
						<h4>Your gender</h4>
						<div class="col s6">
							<img src="https://maxcdn.icons8.com/Color/PNG/48/Users/female-48.png" title="Female" width="48">
							<br/>
							<input value="female" ng-model="gender" name="gender" type="radio" id="female" />
							<label for="female">Female</label>
						</div>
						<div class="col s6">
							<img src="https://maxcdn.icons8.com/Color/PNG/48/Users/male-48.png" title="Male" width="48">
							<br/>
							<input value="male" ng-model="gender" name="gender" type="radio" id="male" />
							<label for="male"> Male</label>
						</div>
					</div>
					<div class="col s12 l6">
						<h4>Your country</h4>
						<div class="col s4">
							<img src="https://maxcdn.icons8.com/Color/PNG/48/Maps/Great_Britain-48.png" title="Great Britain" width="48">
							<br/>
							<input value="uk" ng-model="country" name="country" type="radio" id="uk" />
							<label for="uk">UK</label>
						</div>
						<div class="col s4">
							<img src="https://maxcdn.icons8.com/Color/PNG/48/Maps/flag_of_europe-48.png" title="Flag Of Europe" width="48">
							<br/>
							<input value="eu" ng-model="country" name="country" type="radio" id="eu" />
							<label for="eu">EU</label>
						</div>
						<div class="col s4">
							<img src="https://maxcdn.icons8.com/Color/PNG/48/Maps/USA-48.png" title="USA" width="48"><br/>
							<input value="inter" ng-model="country" name="country" type="radio" id="inter" />
							<label for="inter">International</label>
						</div>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="row center">
					<h4>Your measurements</h4>
				</div>
				<div class="row center">
					<div class="input-field img-input col s4">
						<img src="https://maxcdn.icons8.com/iOS7/PNG/50/Clothing/bra-50.png" title="Bra" width="50">

						<input placeholder="Bust" id="bust" ng-model="bust" type="number" min="60" max="140" type="text" class="validate">
						<label for="bust">Bust (cm)</label>

					</div>
					<div class="input-field img-input col s4">
						<img src="https://maxcdn.icons8.com/iOS7/PNG/50/Sports/torso-50.png" title="Torso" width="50">
						<input placeholder="Waist" id="waist" ng-model="waist" type="number" min="60" max="140" type="text" class="validate">
						<label for="waist">Waist (cm)</label>
					</div>
					<div class="input-field img-input col s4">
						<img src="https://maxcdn.icons8.com/iOS7/PNG/50/Cinema/bottom-50.png" title="Bottom" width="50">
						<input placeholder="Hip" id="hip" ng-model="hip" type="number" min="60" max="140" type="text" class="validate">
						<label for="hip">Hip (cm)</label>
					</div>
				</div>
				<div class="row center">
					<a class="btn-large waves-effect waves-light pink accent-1" ng-click="calculate()">Get your size</a>
				</div>
			</div>

			<div class="row center">
				<h4>Results</h4>
			</div>
			<div class="row center">
				<div class="col s6">
					<img src="https://maxcdn.icons8.com/iOS7/PNG/100/Clothing/shirt_filled-100.png" title="Shirt Filled" width="100">
					<br/> 
					<h5>Shirt size: {{shirtSize}} </h5>
				</div>
				<div class="col s6">
					<img src="https://maxcdn.icons8.com/iOS7/PNG/100/Clothing/trousers-100.png" title="Trousers" width="100">
					<br/> 
					<h5>Trouser size: {{trouserSize}} </h5>
				</div>
			</div>
		</div>

		</div>

		<div class="section footer-copyright">
			<div class="container">
				Made by <a href="http://materializecss.com">Materialize</a>. Icon pack by <a href="https://icons8.com"> Icons8</a>.
			</div>
		</div>


	</body>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" src="size.js"></script>
	<script type="text/javascript" src="live.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('ul.tabs').tabs();
		});

		var app = angular.module("size-calculator", []);
		app.controller("mainCtrl", ["$scope", function($scope) {
			//Initial variabes
			$scope.gender = 'female';
			$scope.bust = 80;
			$scope.waist = 63;
			$scope.hip = 85;
			$scope.country = "eu";

			$scope.shirtSize = "";
			$scope.trouserSize = "";


			$scope.$watchGroup(["bust", "waist", "hip", "country"], function() {
				$scope.calculate();
			});

			$scope.calculate = function() {
				var bustIndex = _.findIndex(femaleSize, function(size) {
					return size.minBust <= $scope.bust && $scope.bust <= size.maxBust;
				});

				var waistIndex = _.findIndex(femaleSize, function(size) {
					return size.minWaist <= $scope.waist && $scope.waist <= size.maxWaist;
				});

				var hipIndex = _.findIndex(femaleSize, function(size) {
					return size.minHip <= $scope.hip && $scope.hip <= size.maxHip;
				});

				var shirtSize = femaleSize[_.max([bustIndex, waistIndex])];
				var trouserSize = femaleSize[_.max([waistIndex, hipIndex])];

				$scope.shirtSize = shirtSize[$scope.country] + " (" +  area[$scope.country] +")";
				$scope.trouserSize = trouserSize[$scope.country] + " (" +  area[$scope.country] +")";
			}

			// https://icons8.com/web-app/category/Clothing
		}]);
	</script>

</html>
